@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


body {
  background-color: #25274D !important;
  margin: 0;
}

.container {
  text-align: center;
  margin: 75px auto;
  line-height: 2;
}

.card {
  margin: auto;
  box-shadow: 0 0 5px black;
}

.card-text {
  margin: auto;
  width: 30rem !important;
}

p {
  font-family: "Montserrat";
  font-weight: bold;
  color: #2e9cca;
}

.btn {
  font-family: "Montserrat";
}

