@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');


body {
  background-color: #C8C6C6;
}


.headImg {
  width: 400px;
  max-width: 400px;
  margin-bottom: 10px;
}

.container {
  text-align: center;
  margin: 75px 100px;
  line-height: 2;
}

p {
  font-family: "Montserrat";
  margin: 15px 100px;
  font-weight: bold;
  color: #4B6587;
}

.btn {
  font-family: "Montserrat";
}
